In [53]:
import pandas as pd
import numpy as np

In [27]:

data = pd.read_csv('apy_1.csv')

In [25]:
print(data.dropna(axis=1))

       Unnamed: 0      State_Name  District_Name  Crop_Year       Season  \
0               0           Bihar        NALANDA       1997  Rabi
1               1           Assam  KARBI ANGLONG       2011  Whole Year
2               2         Gujarat          ANAND       2012  Summer
3               3       Karnataka   UTTAR KANNAD       2005  Rabi
4               4   Uttar Pradesh        JAUNPUR       2008  Rabi
...           ...             ...            ...        ...          ...
73822       73822           Bihar          BUXAR       2004  Whole Year
73823       73823  Madhya Pradesh        RAJGARH       2013  Kharif
73824       73824  Madhya Pradesh        RAJGARH       1998  Kharif
73825       73825       Rajasthan           TONK       2000  Kharif
73826       73826       Jharkhand        KODERMA       2002  Winter

            Crop      Area
0          Wheat  81934.00
1          Onion    257.00
2          Maize    100.00
3      Groundnut   2872.00
4          Onion    110.00
...          ...       ...
73822      Onion    203.00
73823      Bajra     12.00
73824  Groundnut   8700.00
73825      Bajra  34477.00
73826       Rice  14685.71

[73827 rows x 7 columns]

In [47]:
pd.set_option('display.max_columns', None)
data.tail()

,Unnamed: 0,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
73822,73822,Bihar,BUXAR,2004,Whole Year,Onion,203.00,1918.00
73823,73823,Madhya Pradesh,RAJGARH,2013,Kharif,Bajra,12.00,11.00
73824,73824,Madhya Pradesh,RAJGARH,1998,Kharif,Groundnut,8700.00,9100.00
73825,73825,Rajasthan,TONK,2000,Kharif,Bajra,34477.00,20137.00
73826,73826,Jharkhand,KODERMA,2002,Winter,Rice,14685.71,18552.95

In [57]:
data.mean('Production', axis='columns')

TypeError: mean() got multiple values for argument 'axis'

In [60]:

overall_prod = pd.DataFrame(data.groupby('Season').sum()['Production'])

In [61]:
overall_prod

               Production
Season
Autumn       1.969044e+07
Kharif       1.195933e+09
Rabi         6.151127e+08
Summer       4.920665e+07
Whole Year   4.315616e+10
Winter       1.321746e+08

In [45]:
Crop_prod = Crop_prod.sort_values('Crop',ascending = False)

Crop_prod[: 10]

                    Crop_Year
Crop
other oilseeds         397289
other misc. pulses      42033
other fibres             8011
Yam                     22029
Wheat                 4656540
Water Melon             34044
Varagu                  34018
Urad                  5859843
Turnip                   4006
Turmeric              2448653

In [42]:
Crop_prod

                     Crop_Year
Crop
Apple                     4005
Arcanut (Processed)      12012
Arecanut               1008693
Arhar/Tur              4474641
Ash Gourd                36047
...                        ...
Wheat                  4656540
Yam                      22029
other fibres              8011
other misc. pulses       42033
other oilseeds          397289

[122 rows x 1 columns]

In [59]:
print(data.describe())

         Unnamed: 0     Crop_Year          Area    Production
count  73827.000000  73827.000000  7.382700e+04  7.273100e+04
mean   36913.000000   2005.657551  1.218297e+04  6.210320e+05
std    21312.163499      4.954910  5.348285e+04  1.749756e+07
min        0.000000   1997.000000  4.000000e-02  0.000000e+00
25%    18456.500000   2002.000000  8.100000e+01  8.900000e+01
50%    36913.000000   2006.000000  5.900000e+02  7.290000e+02
75%    55369.500000   2010.000000  4.500000e+03  7.200000e+03
max    73826.000000   2015.000000  8.580100e+06  1.125000e+09

In [46]:
ind_mostsold = pd.DataFrame(data.groupby('State_Name' == 'West Bengal ').sum()['Crop_Year'])

KeyError: False

In [63]:
data.to_csv('nptel_csv')